@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

$color-bgc:#f8f8f8;

:root {
  background-color: $color-bgc;
}

/* For AppBar */
.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}
