@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For AppBar */
.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}
