@font-face {
  font-family: 'SF Display Regular';
  src: url('../src/public/fonts/SFPRODISPLAYREGULAR.OTF') format('truetype'); /* adjust path and format if necessary */
}
@font-face {
  font-family: 'SF Display Bold';
  src: url('../src/public/fonts/SFPRODISPLAYBOLD.OTF') format('truetype'); /* adjust path and format if necessary */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 37 43 33;
    --color-secondary: 149 158 167;
    --bg-primary: 249 249 249;
    --button-primary: 18 18 18;
    --color-yellow: 239 172 0;
    --color-border: 222 228 230;
  }
}

body {
  font-family: 'SF Display Regular';
}
