/* Add your custom styles here */
.input-range {
  width: 100%;
}

.input-range__slider {
  width: 20px;
  height: 20px;
  background-color: #efac00;
  border: 2px solid #fff;
  cursor: grab;
}

.input-range__track--background {
  background: #e0e0e0;
}

.input-range__track--active {
  background: #efac00;
}

.input-range__label--max,
.input-range__label--min {
  display: none;
}

.input-range__label-container {
  background-color: #fff;
  width: 100%;
  padding: 5px 10px;
  border: solid 1px #e0e0e0;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  color: black;
  font-size: 14px;
}
